@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 30 5% 9%;
		--foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 20 4% 14%;
		--muted-foreground: 240 5% 64.9%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;

		--radius: 0.5rem;

		/* Navbar */
		--navbar-background: 0 0% 7%;

		/* Minecraft Colors (Dark -> Light) */
		--minecraft-green-1: 108 56% 25%;
		--minecraft-green-2: 107 55% 34%;
		--minecraft-green-3: 104 51% 43%;
		--minecraft-green-4: 103 50% 53%;
	}
}

@layer base {
	* {
		@apply border-border;

		/* Scrollbar (Firefox) */
		scrollbar-color: hsl(var(--minecraft-green-2)) hsl(var(--background));
	}

	body {
		@apply bg-background text-foreground;
	}
}

/* Scrollbar (Chrome & Safari) */
@layer base {
	::-webkit-scrollbar {
		@apply w-1.5;
	}

	::-webkit-scrollbar-track {
		@apply bg-inherit;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-minecraft-green-2 rounded-3xl;
	}

	::-webkit-scrollbar-thumb:hover {
		@apply bg-opacity-80;
	}
}
